---
import Links from "@components/interactive/links";
import Link from "@components/link.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { Capitalize, GetAllExamples, descs } from "@utils";

const examples = GetAllExamples();

export const prerender = true;
---

<PageLayout
    title="Examples"
    desc="View different examples of implementations"
>
    <h1 class="text-3xl font-bold">Examples</h1>
    <p>
        These have implementations for different common use cases in apps, to
        show you an easy direct comparision!
    </p>
    <p class="mt-2">
        If you want to go over the difference in rendering techniques, runtimes,
        etc, go to <Link href="/learn">Learn</Link> page.
    </p>
    <Links
        client:load
        examples={examples.map((e, i) => ({
            label: `${i + 1}. ${Capitalize(e)}`,
            href: `/examples/${e}`,
            desc: descs[e],
        }))}
    />
</PageLayout>
