<div>
    <button
        hx-post="/htmx/typescript/counter?decrement"
        hx-target="#htmx-counter-typescript"
        hx-swap="innerHTML"
        hx-include="[name='counterTypeScript']"
    >
        -
    </button>

    <span
        id="htmx-counter-typescript"
        hx-trigger="load"
        hx-get="/htmx/typescript/counter"
        hx-target="this"
        hx-swap="innerHTML"
    ></span>

    <button
        hx-post="/htmx/typescript/counter?increment"
        hx-target="#htmx-counter-typescript"
        hx-swap="innerHTML"
        hx-include="[name='counterTypeScript']"
    >
        +
    </button>
</div>
