---
let count = 0;
const setCount = () => {
    count += 1;
};

// Astro never runs client-side
if (typeof window !== "undefined") {
    setInterval(setCount, 1000);
}
---

<div>Hello world from Astro {count}</div>

<style>
    div {
        color: red;
    }
</style>
