---
export interface Props {
    href: string;
    class?: string;
}
const { href, class: className } = Astro.props;
---

<>
    {
        href.startsWith("/") && (
            <a
                href={href}
                class={`text-blue-400 ${className}`}
            >
                <slot />
            </a>
        )
    }
    {
        !href.startsWith("/") && (
            <a
                href={href}
                class={`text-blue-400 ${className}`}
                target="_blank"
                rel="noopener noreferrer"
            >
                <slot />
            </a>
        )
    }
</>
