---
export interface Props {
    href: string;
    class?: string;
}
const { href, class: className } = Astro.props;

const isInternal = href.startsWith("/") || href.startsWith("#");
---

<>
    {
        isInternal && (
            <a
                href={href}
                class={`text-blue-400 transition-colors hover:text-blue-600 ${className}`}
            >
                <slot />
            </a>
        )
    }
    {
        !isInternal && (
            <a
                href={href}
                class={`text-blue-400 transition-colors hover:text-blue-600 ${className}`}
                target="_blank"
                rel="noopener noreferrer"
            >
                <slot />
            </a>
        )
    }
</>
