---
import Card from "@components/card.astro";
import SSRCard from "@components/ssr_card.astro";
import SSRClientCard from "@components/ssr_client_card.astro";
import ExampleLayout from "@layouts/ExampleLayout.astro";

import AstroComponent from "@astro/styling.astro";
import Alpine from "@examples/alpinejs/styling.html";
import HTMX from "@htmx/styling.html";
import Lit from "@lit/interval";
import Preact from "@preact/styling";
import React from "@react/styling";
import Solid from "@solid/styling";
import Svelte from "@svelte/styling.svelte";
import { descs } from "@utils";
import Vanilla from "@vanilla/styling.html";
import Vue from "@vue/styling.vue";

const example = "styling";
const desc = descs[example];
Astro.locals.example = example;
Astro.locals.desc = desc;

export const prerender = true;
---

<ExampleLayout>
    <h1 class="text-3xl font-bold capitalize">
        {example} Example
    </h1>
    <p>{desc}</p>
    <hr class="w-full border-t-2 border-solid border-white" />
    <SSRClientCard type="vanilla">
        <Vanilla />
    </SSRClientCard>
    <Card type="react">
        <React slot="ssr" />
        <React
            slot="ch"
            client:load
        />
        <React
            slot="co"
            client:only="react"
        />
    </Card>
    <Card type="solid">
        <Solid slot="ssr" />
        <Solid
            slot="ch"
            client:load
        />
        <Solid
            slot="co"
            client:only="solid"
        />
    </Card>
    <Card type="preact">
        <Preact slot="ssr" />
        <Preact
            slot="ch"
            client:load
        />
        <Preact
            slot="co"
            client:only="preact"
        />
    </Card>
    <Card type="svelte">
        <Svelte slot="ssr" />
        <Svelte
            slot="ch"
            client:load
        />
        <Svelte
            slot="co"
            client:only="svelte"
        />
    </Card>
    <Card type="vue">
        <Vue slot="ssr" />
        <Vue
            slot="ch"
            client:load
        />
        <Vue
            slot="co"
            client:only="vue"
        />
    </Card>
    <SSRClientCard type="htmx">
        <HTMX />
    </SSRClientCard>
    <SSRClientCard type="alpinejs">
        <Alpine />
    </SSRClientCard>
    <SSRCard type="astro">
        <AstroComponent />
    </SSRCard>
    <Card
        type="lit"
        metaTitle="(Broken)"
    >
        <Lit slot="ssr" />
        <Lit
            slot="ch"
            client:load
        />
        <Lit
            slot="co"
            client:only="lit"
        />
    </Card>
</ExampleLayout>
