---
import Card from "@components/card.astro";
import ExampleLayout from "@layouts/ExampleLayout.astro";

import Alpine from "@examples/alpinejs/todo.html";
import PreactHooks from "@examples/preact/todo_hooks";
import PreactSignals from "@examples/preact/todo_signals";
import HTMXGo from "@htmx/todo_go.html";
import HTMXRust from "@htmx/todo_rust.html";
import HTMXTypeScript from "@htmx/todo_typescript.html";
import Lit from "@lit/interval";
import React from "@react/todo";
import Solid from "@solid/todo";
import Svelte from "@svelte/todo.svelte";
import { examples } from "@utils";
import Vanilla from "@vanilla/todo.html";
import Vue from "@vue/todo.vue";

const example = "todo";
const desc = examples[example].desc;
Astro.locals.example = example;
Astro.locals.desc = desc;

export const prerender = true;
---

<ExampleLayout>
    <div slot="header">
        <h1 class="text-3xl font-bold capitalize">
            {example} Example
        </h1>
        <p>{desc}</p>
    </div>
    <Card library="vanilla">
        <Vanilla />
    </Card>
    <Card library="react">
        <React slot="ssr" />
        <React
            slot="ch"
            client:load
        />
        <React
            slot="co"
            client:only="react"
        />
    </Card>
    <Card library="solid">
        <Solid slot="ssr" />
        <Solid
            slot="ch"
            client:load
        />
        <Solid
            slot="co"
            client:only="solid"
        />
    </Card>
    <Card
        library="preact"
        variant="hooks"
    >
        <PreactHooks slot="ssr" />
        <PreactHooks
            slot="ch"
            client:load
        />
        <PreactHooks
            slot="co"
            client:only="preact"
        />
    </Card>
    <Card
        library="preact"
        variant="signals"
    >
        <PreactSignals slot="ssr" />
        <PreactSignals
            slot="ch"
            client:load
        />
        <PreactSignals
            slot="co"
            client:only="preact"
        />
    </Card>
    <Card library="svelte">
        <Svelte slot="ssr" />
        <Svelte
            slot="ch"
            client:load
        />
        <Svelte
            slot="co"
            client:only="svelte"
        />
    </Card>
    <Card library="vue">
        <Vue slot="ssr" />
        <Vue
            slot="ch"
            client:load
        />
        <Vue
            slot="co"
            client:only="vue"
        />
    </Card>
    <Card
        library="htmx"
        lang="typescript"
    >
        <HTMXTypeScript />
    </Card>
    <Card
        library="htmx"
        lang="rust"
    >
        <HTMXRust />
    </Card>
    <Card
        library="htmx"
        lang="go"
    >
        <HTMXGo />
    </Card>
    <Card library="alpinejs">
        <Alpine />
    </Card>
    <Card
        library="lit"
        variant="broken"
    >
        <Lit slot="ssr" />
        <Lit
            slot="ch"
            client:load
        />
        <Lit
            slot="co"
            client:only="lit"
        />
    </Card>
</ExampleLayout>
