---
const today = new Date();

export const prerender = true;
---

<footer class="p-6 text-center">
    &copy; {today.getFullYear()} Zackary Santana. All rights reserved
    <br />
    <a
        target="_blank"
        href="https://github.com/ZackarySantana"
    >
        GitHub
    </a>
    |
    <a
        target="_blank"
        href="https://linkedin.com/in/Zackary-Santana"
    >
        LinkedIn
    </a>
</footer>
