---
import NavbarDesktop from "./NavbarDesktop.astro";
import NavbarMobile from "./NavbarMobile.astro";
---

<header class="mb-6">
    <nav>
        <NavbarDesktop />
        <NavbarMobile />
    </nav>
</header>
