---
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon.svg"
        />
        <meta
            name="generator"
            content={Astro.generator}
        />
        <title>{title}</title>
    </head>
    <body class="min-h-screen w-full bg-slate-600 px-2 py-4 sm:px-10 sm:py-8">
        <header class="mb-6">
            <nav>
                <ul
                    class="flex w-full items-center justify-between gap-4 sm:justify-start"
                >
                    <li>
                        <a
                            href="/"
                            class="mr-5 text-4xl font-bold text-sky-300"
                        >
                            How's It
                        </a>
                    </li>
                    <li>
                        <a
                            href="/about"
                            class="hidden text-white sm:block"
                        >
                            About
                        </a>
                    </li>
                    <li>
                        <a
                            href="/examples"
                            class="hidden text-white sm:block"
                        >
                            Examples
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://github.com/ZackarySantana/howsit/"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="hidden text-white sm:block"
                        >
                            GitHub
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="flex flex-col items-center justify-center gap-4">
            <slot />
        </main>
    </body>
</html>
