---
import Header from "./Header.astro";

export interface Props {
    title: string;
    desc: string;
    mainClasses?: string;
}

const { title, desc, mainClasses } = Astro.props;
---

<!DOCTYPE html>
<html
    lang="en"
    hx-ext="reset-on-success"
>
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon.svg"
        />
        <meta
            name="generator"
            content={Astro.generator}
        />
        <title>{title}</title>
        <meta
            name="description"
            content={desc}
        />
        <script src="https://unpkg.com/htmx.org@1.9.3"></script>
        <script src="/htmx_extensions.js"></script>
    </head>
    <body class="min-h-screen w-full bg-slate-600 px-2 py-4 sm:px-10 sm:py-8">
        <Header />
        <main class={"py-4 text-white w-full " + mainClasses}>
            <slot />
        </main>
    </body>
</html>
