---
import Icon from "@components/icon.astro";
---

<ul class="flex w-full items-center gap-4 text-white sm:hidden">
    <li>
        <a
            href="/"
            class="mr-2 text-4xl font-bold text-sky-300 sm:mr-5"
        >
            How's It
        </a>
    </li>
    <li>
        <a href="/learn">Learn</a>
    </li>
    <li>
        <a href="/examples">Examples</a>
    </li>
    <li>
        <a
            href="https://github.com/ZackarySantana/howsit/"
            target="_blank"
            rel="noopener noreferrer"
        >
            <Icon
                src="github"
                class="h-5 w-5"
            />
        </a>
    </li>
</ul>
